//***** CONFIG IMPORTS *****
@import 'settings/_variables';
@import 'settings/_settings';
@import 'settings/_mixins';

// hello world

* {
		font-family: $primary-font;
}

.title {
		font-family: $title-font;
}


.nav-links {
		&:hover {
				background-color: transparent !important;
	}
}
