//***** CONFIG IMPORTS *****
@import 'settings/_variables';
@import 'settings/_settings';
@import 'settings/_mixins';

* {
	font-family : $primary-font;
}

.title {
  font-family : $title-font;
}


.nav {
	li {
		a {
			&:hover {
				background-color : transparent;
			}
		}
	}
}
