<div class=" footer">
	<div class="container">
	  	<div class="col-lg-4 col-md-4 col-sm-12 col-sm-12 social-class" >
	  		<p class="company">Symptum</p>
	  		
	  		<a href="#"><i class="fa fa-facebook social-icons" aria-hidden="true"></i></a>
	  		<a href="#"><i class="fa fa-twitter social-icons" aria-hidden="true"></i></a>
	  		<a href="#"><i class="fa fa-pinterest social-icons" aria-hidden="true"></i></a>
	  		
	  		<p class="fields">ADDRESS</p>
	  		<p class="fields-text">7th Floor, Delta Block, Embassy Tech Square, Vasant Kunj, New Delhi</p>
	  		
	  		<p class="fields">CONTACT</p>
	  		<p class="fields-text">+91-9876543210</p>
	  	</div>

	  	<div class="col-lg-4 col-md-4 col-sm-12 col-sm-12 search-class">
	  		<br>
	  		<a href="#" class="search-class-item"><p>Search for Doctors</p></a>
	  		<a href="#" class="search-class-item"><p>Search for Hospitals</p></a>
	  		<a href="#" class="search-class-item"><p>Search for Procedures</p></a>
	  	</div>

	  	<div class="col-lg-4 col-md-4 col-sm-12 col-sm-12 misc-class">
	  		<br>
	  		<a href="#" class="misc-class-item"><p>About Us</p></a>
	  		<a href="#" class="misc-class-item"><p>Blog</p></a>
	  		<a href="#" class="misc-class-item"><p>Careers</p></a>
	  		<a href="#" class="misc-class-item"><p>Press</p></a>
	  		<a href="#" class="misc-class-item"><p>Contact Us</p></a>

	  	</div>


	</div>

	
</div>