<div class="footer">
	<div class="container footer-container">
	  	<div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-12 col-sm-12 footer-details" >
	  		<div class="footer-padding-details">
	  			<h4>Symptum</h4>
	  		</div>
	  		
	  		<div class="footer-padding-details">
	  			<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
	  			<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
	  			<a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
	  		</div>

	  		<div class="footer-padding-details">
	  			<h6>ADDRESS</h6>
	  			<p>7th Floor, Delta Block, Embassy Tech Square, Vasant Kunj, New Delhi</p>
	  		</div>

	  		<div class="footer-padding-details">
	  			<h6>CONTACT</h6>
	  			<p>+91-9876543210</p>
	  		</div>
	  	</div>

	  	<div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-12 col-sm-12 footer-links">
	  		<br>
	  		<div class="footer-padding-links">
	  			<a href="#">Search for Doctors</a>
	  		</div>
	  		
	  		<div class="footer-padding-links">
	  			<a href="#">Search for Hospitals</a>
	  		</div>
	  		
	  		<div class="footer-padding-links">
	  			<a href="#">Search for Procedures</a>
	  		</div>
	  	</div>

	  	<div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-12 col-sm-12 footer-sitemap">
	  		<br>
	  		<div class="footer-padding-links">
	  			<a href="#">About Us</a>
	  		</div>
	  		<div class="footer-padding-links">
	  			<a href="#">Blog</a>
	  		</div>
	  		<div class="footer-padding-links">
	  			<a href="#">Careers</a>
	  		</div>
	  		<div class="footer-padding-links">
	  			<a href="#">Press</a>
	  		</div>
	  		<div class="footer-padding-links">
	  			<a href="#">Contact Us</a>
	  		</div>

	  	</div>


	</div>

	
</div>