<div class=" footer">
	<div class="container">
	  	<div class="col-lg-4 col-md-4 col-sm-12 col-sm-12 footer-details" >
	  		<h3>Symptum</h3>
	  		
	  		<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
	  		<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
	  		<a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
	  		
	  		<h6>ADDRESS</h6>
	  		<p>7th Floor, Delta Block, Embassy Tech Square, Vasant Kunj, New Delhi</p>
	  		
	  		<h6>CONTACT</h6>
	  		<p>+91-9876543210</p>
	  	</div>

	  	<div class="col-lg-4 col-md-4 col-sm-12 col-sm-12 footer-links">
	  		<br>
	  		<a href="#">Search for Doctors</a><br>
	  		<a href="#">Search for Hospitals</a><br>
	  		<a href="#">Search for Procedures</a>
	  	</div>

	  	<div class="col-lg-4 col-md-4 col-sm-12 col-sm-12 footer-sitemap">
	  		<br>
	  		<a href="#">About Us</a><br>
	  		<a href="#">Blog</a><br>
	  		<a href="#">Careers</a><br>
	  		<a href="#">Press</a><br>
	  		<a href="#">Contact Us</a>

	  	</div>


	</div>

	
</div>