<div class="search-typeahead"  ng-repeat="type in types" ng-if="results[type].length != 0">

	<ul class="list-group">

		<span>
			<li class="list-group-item">{{type}}
				<span class="badge">{{results.counts[type]}}</span>
			</li>
			<li ng-repeat="model in results[type] | limitTo: limit" >
				<a href="">
					{{model._source.name}}
				</a>
			</li>
		</span>

	</ul>

</div>

<div ng-repeat="type in types" class="search-typeahead-footer text-right">
	<a ng-if="results[type].length == 0" href="">
		<i>{{results.counts[type]}} more {{type}} containing </i><b>{{query}}</b>
	</a>
</div>

