<div ng-repeat="type in types" ng-if="results[type].length != 0">

	<ul class="typeahead-list">

		<li class="list-header">
			<span class="list-title text-uppercase">{{type}}</span>

			<i class="primary-divider fa fa-minus"></i><i class="primary-divider _path2 fa fa-minus"></i>

			<span class="list-count pull-right primary-tag">View All <b>{{results.counts[type]}}</b></span>
		</li>

		<li class="list-item" ng-repeat="model in results[type] | limitTo: limit" >
			<div class="item-img pull-left">
				<span class="img-circle list-item-img">{{model._source.name | limitTo: 1 }}</span>
			</div>
			<div class="item-details">
					<p class="item-name">{{model._source.name}}</p>
					<p class="item-meta">{{model._source.city}}</p>
			</div>
		</li>

	</ul>

</div>

<div class="typeahead-seperator"></div>

<div class="typeahead-footer" ng-repeat="type in types" class="search-typeahead-footer text-right">
	<div class="typeahead-search-more" ng-if="results[type].length == 0">
		<i class="fa fa-search search-icon"></i>
		<span class="message"><b>{{ type | uppercase}}</b> named <b>"{{ query }}"</b> </span>
		<aside class="message-count pull-right">{{ results.counts[type] }} RESULTS</aside>
	</div>
</div>
