.search-bar{
	position: relative;

	.search-bar-input {
			background-color: #fff;
			box-shadow: 1.638px 1.147px 8px 0 rgba(235, 101, 108, 0.2);
			left: 0;
			padding: 32px;
			position: relative;
			top: 0;
			width: 100%;


			input {

			border: 0;
			color: $theme-grey;
			font-size: 19px;
			width: 81%;
		}

		.search-icon {
			color: $theme-grey;
			float: left;
			font-size: 24px;
			padding-right: 16px;
		}

		.search-loader-icon {
			color: #eee;
			float: right;
			font-size: 24px;
		}
	}

	.search-typeahead-container {
		background-color: #fff;
		display: block;
		left: 0;
		position: absolute;
		top: 94px;
		width: 100%;
		z-index: 500;
	}

}
