.footer{
	background-color: #484848;
	color: #fff;
	border-radius: 0;
	position: static;
	margin-top: 15rem;
	
	.footer-details {
		padding: 30px;

		i {
			color: $secondary-color;
			font-size: 25px;
			padding: 20px 35px 20px 0;
		}

		h6 {
			color: $theme-grey;
			font-size: 10px;
		}

		p {
			font-size: 17px;
		}
	}

	.footer-links {
		padding: 30px;

		a {
			color: #fff;
			font-size: 17px;
		}
	}

	.footer-sitemap {
		padding: 30px;

		a {
			color: #fff;
			font-size: 17px;
		}
	}
	
}
