<!-- <div class="input-group search-form typeahead-container" role = "search">

  <input class="search-field" placeholder="Search" type="text" ng-model="vm.data_response" ng-model-options="vm.data_response_options" uib-typeahead="value for value in vm.data | filter:$viewValue | limitTo:8"/>

  <div class="input-group-btn">
    <button class="btn search-button" type="submit">
    	<i class="fa fa-search" area-hidden = "true"></i>
    </button>
  </div>

</div>
 -->


 <div class="input-group search-form typeahead-container" role = "search">

  <input class="search-field" placeholder="Search" type="text" ng-model="selectedUser" typeahead-template-url= "app/views/app/partials/searchbar/typeahead.html" uib-typeahead="user as user.name for user in vm.getUsers($viewValue)"/>

  <div class="input-group-btn">
    <button class="btn search-button" type="submit">
    	<i class="fa fa-search" area-hidden = "true"></i>
    </button>
  </div>

</div>