<div class="input-group search-form typeahead-container" role = "search">

  <input class="search-field" placeholder="Search" type="text" ng-model="selectedUser" typeahead-template-url= "app/views/app/partials/searchbar/typeahead.html" uib-typeahead="user as user.name for user in vm.getUsers($viewValue)" typeahead-show-hint="true" typeahead-no-results="noResults"/>

<!-- No Results Found Diviion (Causing problem to search button) -->
<div ng-show="noResults" class="no-result">
    <i class="fa fa-times" aria-hidden="true"></i> No Results Found
</div>

<!-- Search Button -->
  <div class="input-group-btn">
    <button class="btn search-button" type="submit">
      <i class="fa fa-search" area-hidden = "true"></i>
    </button>
  </div>

</div>