<div ng-repeat="speciality in vm.specialities | limitTo: limit" ng-click="goTo('/home')" class="col-sm-12 col-md-4 text-center">
	<b>{{speciality.name}}</b> <br/>
	<small>{{speciality.procedure.length}} Procedures</small> <br/>
	<i class="fa fa-home fa-3x"></i>
</div>

<div ng-if="loadMore" ng-click="openSpecialitiesModal()" class="col-sm-12 col-md-4 text-center load-more-specialities">
	<b>Load More</b>
	<small>{{speciality.length}} More Specialities</small> <br/>
	<i class="fa fa-bars fa-3x"></i>
</div>
